body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("./images/table.png");
    background-size: cover;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    font-style: italic;
}

button {
    border: none;
    width: 150px;
    height: 30px;
    color: #016f32;
    background-color: goldenrod;
    font-weight: bold;
}